<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--目标类-->
    <bean id="someService" class="com.foxbill.service.impl.SomeServiceImpl" />

    <!--通知类-->
    <bean id="myAdvice" class="com.foxbill.aspect.MyAdvice" />

    <!--AOP：在切入点织入通知-->
<!--    <aop:config>
        <aop:pointcut id="pt" expression="execution(* com.foxbill.service.impl.SomeServiceImpl.*(..))"/>
        <aop:aspect ref="myAdvice">
            <aop:around method="doTrans" pointcut-ref="pt" />
        </aop:aspect>
    </aop:config>-->

    <!--开启AOP注解驱动。 AOP自动代理，替代上面的手动织入。  需要在通知上添加注解。-->
    <aop:aspectj-autoproxy />


</beans>