<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
    <!--查询所有-->
    <select id="selectUser" resultType="com.foxbill.pojo.User">
        select * from user
    </select>


    <!--新增用户-->
    <insert id="insertUser" parameterType="com.foxbill.pojo.User">
        insert into user values(null,#{name},#{age},#{balance},#{version})
    </insert>

    <!--修改用户-->
    <update id="updateUser" parameterType="com.foxbill.pojo.User">
        update user
        set name = #{name},age = #{age}, balance = #{balance},version = #{version}
        where id = #{id}
    </update>

    <!--删除用户-->
    <delete id="deleteUser">
        delete from user where id = #{id}
    </delete>

    <!--模糊查询-->
    <select id="searchUser" resultType="com.foxbill.pojo.User">
        select * from user where name like '%${_parameter}%'
    </select>

</mapper>