<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--创建Vehicle的对象-->
    <bean id="v1" class="com.foxbill.pojo.Bike" >
    </bean>

    <!--创建Persion类的对象-->
    <bean id="p1" class="com.foxbill.pojo.Person">
        <property name="name" value="李四" />
        <property name="vehicle" ref="v1" />
    </bean>
</beans>