<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--目标对象-->
    <bean id="someService" class="com.foxbill.service.impl.SomeServiceImpl" />
    <!--切面对象-->
    <bean id="myAspect" class="com.foxbill.handle.MyAspect" />

    <!--声明自动代理生成器，目的是创建目标对象的代理
          编码技巧：直接写前缀后面的部分，可以自动导入命名空间的约束
          proxy-target-class=true表示使用CGLIB动态代理，默认为false,表示针对有接口的类使用JDK动态代理，如果没有接口，使用CGLIB动态代理
    -->
    <aop:aspectj-autoproxy proxy-target-class="true"  />
</beans>