<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--别名-->
    <typeAliases>
        <package name="com.foxbill.domain" />
    </typeAliases>

    <!--sql映射文件的位置-->
    <mappers>
        <package name="com.foxbill.dao" />
    </mappers>

</configuration>